= form_for(@study_form) do |f|
  - if @study_form.errors.any?
    #error_explanation
      %h2
        = pluralize(@study_form.errors.count, "error")
        prohibited this study_form from being saved:
      %ul
        - @study_form.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
