%h1
  New form for
  =@participant_event_form.participant.participant_identifier
  -#=@participant_event_form.event_form.event.name
  -#=@participant_event_form.event_form.form.name

= render 'form'
= back_to_participant(@participant)
