%p
%p
  %strong Home
%table.table
  %tr
    %td{:style => 'width:10%;'}
      %strong
        Studies
    %td
      - @studies.each do |study|
        %strong
          = link_to study, study_path(study)
        = link_to_delete(study)
        %br/
      = link_to add, new_study_path
