= form_for(@study_event) do |f|
  - if @study_event.errors.any?
    #error_explanation
      %h2
        = pluralize(@study_event.errors.count, "error")
        prohibited this study_event from being saved:
      %ul
        - @study_event.errors.full_messages.each do |message|
          %li= message
  .actions
    = f.submit
