.nested-fields
  = f.inputs do
    -#= f.inputs
    -#= f.input :study_event, :as => :hidden, :input_html => { :value => StudyEvent.find_by_event_id(@event).id }
    -#= f.input :study_event, :as => :select, :collection => StudyEvent.all.map { |se| [se.event.name, se.event.id] }
    = f.input :study_form, :as => :select, :collection => StudyForm.all.map { |sf| [sf.form.name, sf.form.id] }
    = link_to_remove_association 'remove form', f