<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<%= link_to 'Edit', edit_study_event_path(@study, @event) %> |
<%= link_to 'Back to study', study_path(@study) %>
