%table.table
  %tr
    %td
      %strong
        Participants
    %td
      - @study.participants.each do |participant|
        %strong
          = link_to_participant(participant)
        %br/
      = link_to add, new_study_participant_path(@study)