<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @form.name %>
</p>

<%= link_to 'Edit', edit_study_form_path(@study, @form) %> |
<%= link_to 'Back to study', study_path(@study) %>
